table { 
  width: 100%;
  border-collapse: collapse; 
}

thead tr, tbody {
  border-bottom: 1px solid #ccc;
}

thead tr th, tbody tr td{
  width: 25%;
  text-align: left;
}

thead tr th {
  padding: 20px 0;
}

tbody tr:nth-child(1) td {
  padding-top: 20px;
}

tbody tr:nth-child(3) td {
  padding-bottom: 20px;
}

tbody tr td span {
  display: block;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 600;
}

.price {
  font-size: 1.2em;
  font-weight: 600;
}

.grey {
  color: grey;
  font-size: 0.7em;
}

.red {
  color: red;
  font-size: 0.7em;
}